@font-face {
  font-family: 'trellicons'; /*a name to be used later*/
  src: url('fonts/trellicons.ttf'); /*URL to font*/
}

html, body, #root, #root>div {
  height: 100%
}

body {
  margin: 0;
  padding: 0;
  font : 14px Helvetica Neue,Arial,Helvetica,sans-serif;
  line-height: 18px;
  font-weight: 400;
  color: #333;
  overflow-x: hidden;
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}